body {
    background-image: linear-gradient(
        rgba(221, 207, 207, 0.705),
        rgba(228, 218, 218, 0.705)),
        url(fondo_tronco.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 97vh;
}

h1 {
    text-decoration-line: underline;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    text-align: center;
    text-decoration-line: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.img1 {
    float: left; width: 400px; height: 350px;
}
.img2 {
    display: block; margin: auto; width: 700px; height: 550px;
}

.p1 {
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

span {
    font-weight: bold;
}

ul {
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.ul2 {
    list-style: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

